@import '../constant.css';


div.cm-line:has( span.cm-header) {
  padding: var(--cm-header-padding);
}

.cm-header {
  color: var(--cm-header-color);
  font-weight: var(--cm-header-font-weight);
}

.App .cm-editor .cm-header-1 {
    
    font-size: var(--cm-h1-size);

  }
  .App .cm-editor .cm-header-2 {
    font-size: var(--cm-h2-size);
  }
  .App .cm-editor .cm-header-3 {
    font-size: var(--cm-h3-size);
  }
  .App .cm-editor .cm-header-4 {
    font-size: var(--cm-h4-size);
  }
  .App .cm-editor .cm-header-5 {
    font-size: var(--cm-h5-size);
  }
  .App .cm-editor .cm-header-6 {
    font-size: var(--cm-h6-size);
  }
  