@import "../constant.css";


/* Base highlight styling */
.App .cm-editor span.cm-highlight:not(:has(.cm-highlight, .cm-strong, .cm-emphasis))  {
  background-color: var(--cm-highlight-bg);
  color: var(--cm-highlight-color);


}



.App .cm-editor .cm-highlight.cm-strong:not(.cm-emphasis) {
background-color: var(--cm-strong-highlight-bg);
    color: var(--cm-strong-highlight-color);
}
  
.App .cm-editor .cm-highlight.cm-emphasis:not(.cm-strong) {
    background-color: var(--cm-emphasis-highlight-bg);
    color: var(--cm-emphasis-highlight-color);
}

.App .cm-editor .cm-highlight.cm-strong.cm-emphasis {
    background-color: var(--cm-strong-emphasis-highlight-bg);
    color: var(--cm-strong-emphasis-highlight-color);
}


/* Looks cool but is not needed
.App .cm-editor .cm-widgetBuffer:has(+ .cm-highlight:not(.ͼ13)) {
    padding: 2px;
}
.App .cm-editor .cm-widgetBuffer:not(:has(+ .cm-highlight:not(.ͼ13))) {
    padding-right: 2px;
}
.App .cm-editor .cm-highlight:not(.ͼ13) {
    padding-left: 2px;
    padding-right: 2px;
}
.App .cm-editor.ͼ13:has(+ .cm-highlight:not(.ͼ13)) {
    padding-left: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.App .cm-editor .ͼ13.cm-highlight:not(:has(+ .cm-highlight:not(.ͼ13))) {
    padding-right: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

*/
