:root {
    --editor-text-color: hsl(0, 0%, 79%); /* Your main editor text color (e.g., from your screenshots) */
    --cm-hr-color: hsl(0, 0%, 100%); /* Color for the horizontal rule line */
    --cm-list-bullet-inactive-color: hsl(0, 0%, 40%); /* Color for the inactive list bullet */
    --cm-empty-link-color: hsl(0, 0%, 53%); /* Color for empty links */
    --cm-link-color: hsl(188, 100%, 45%); /* Default link color */
    --cm-link-visited-color: hsl(275, 35%, 65%); /* Visited link color */
    --cm-link-hover-color: hsl(47, 80%, 46%); /* Link hover color */
    /* Selection color variables */
    --cm-selection-background: hsla(219, 27%, 31%, 0.8); /* Default selection background */
    --cm-selection-text: inherit; /* Default selection text color */
    --cm-highlight-selection-bg: hsla(227, 55%, 39%, 0.85); /* Selection in highlight elements */
    --cm-code-selection-bg: hsla(240, 26%, 37%, 0.85); /* Selection in code blocks */
    --cm-strikethrough-selection-bg: hsla(340, 23%, 25%, 0.85); /* Selection in strikethrough text */
    /* Add other colors as needed, e.g., --cm-selection-background-color */
  
    --cm-strong-highlight-bg: hsla(286, 99%, 50%, 1);
    --cm-emphasis-highlight-bg: hsla(39, 100%, 50%, 1);
    --cm-emphasis-strong-highlight-bg: rgb(192, 19, 19);
  }
 
 
/*  cm-strong ͼx cm-highlight */

/*  cm-highlight-strong-emphasis */